<form class="signUpLogIn" method="POST" action="/signup">
    <label>Username</label>
    <input name="username" type="text" placeholder="Enter your desired username" required>
    <label>Email</label>
    <input name="email" type="email" placeholder="Enter your email" required>
    <label>Password</label>
    <input name="password" type="password" placeholder="Enter your password" required>
    <button type="submit" class="btn btn-danger">Sign Up</button>
</form>
{{#if message}}
    <div>{{message}}</div>
{{/if}}