<form action="POST" method="/manageBands/{{bandId}}/addMember">
    <label>Mebmer's name</label>
    <input name="name" type="text">

    <label>Link to their profile</label>
    <input name="profileId" type="text">

    <label>Their role</label>
    <input name="role" type="text">
    
    <button type="submit">Add</button>
</form>