<form action="POST" method="/addMember">
    <label>Mebmer's name</label>
    <input name="memName" type="text">

    <label>Link to their profile</label>
    <input name="profileId" type="text">

    <label>Their role</label>
    <input name="memRole" type="text">
</form>