<div>Welcome to your dashboard {{loggedInUser.username}}</div>
<div>
    <div>
        <img style="width: 100px"src={{loggedInUser.img}} alt="">
        <div>
        <h2>{{loggedInUser.username}}</h2>
        <p>{{detailsData.description}}</p>
        </div>
    </div>
    <div>
        <a href="/updateProfile"><button>Update Profile</button></a>
        <a href="/managebands"><button>Manage your Bands</button></a>
    </div>
</div>