<form method="POST" action="/manageBands/{{bandId}}/addMissing">
    <h3>Who are you missing?</h3>
    <label>Their role</label>
    <input name="role" type="text">
    
    <button type="submit">Add</button>
</form>