{{#if message}}
<h3>{{message}}</h3>
{{/if}}

<form id="update-form" method="POST" action="/createBand">

    <label>Band name</label>
    <input name="bandName" type="text">

    <label>Band image</label>
    <input name="img" type="text">

    <label>Describe your band</label>
    <input name="description" type="text">

    <label>Main Band genre</label>
    <input name="mainGenre" type="text">

    <label>Other Band genres</label>
    <input name="subGenre" type="text">

    <h3>Where is your band located</h3>
    <label>Country</label>
    <select name="country" id="" value="{{data.country}}">
        {{#each allCountries}}
        <option value="{{this}}">{{this}}</option>
        {{/each}}
    </select>
    {{!--<input name="country" type="text">--}}
    

    <label>City</label>
    <input name="city" type="text">

    <button type="submit" class="btn btn-danger">Create a band</button>
</form>