<h1>Your bands</h1>
<div id="manage-bands-cont">
{{#each bands}}
    <div>there is a band here {{this.bandName}} <a href="/bandEdit/{{this._id}}"><button>Edit</button></a><a href="/bandDelete/{{this._id}}"><button>Delete</button></a><a href="/bandView/{{this._id}}"><button>View</button></a></div> 
{{/each}}
</div>
<a href="/managebands/createband"><button>Create a band</button></a>